<div>
    <div>
        <a  href="">School</a>
    </div>
</div>


<div >
    <nav  >
        <div >
            <NavLink  href="" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="text-2xl" >
            <NavLink  href="counter">
                Counter
            </NavLink>
        </div>

        <div >
            <NavLink  href="weather">
                <span  aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

