<div class="bg-amber-500">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span>Home</span>
            </NavLink>
        </div>

        <div>
            <NavLink href="counter">
                Counter
            </NavLink>
        </div>

        <div>
            <NavLink href="weather">
                <span aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

